/* src/components/Navbar.css */

.navbar {
    transition: background-color 0.3s; /* Smooth transition for background color */
  }
  
  .navbar:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darken the background on hover */
  }
  
  .nav-link {
    transition: color 0.3s; /* Smooth transition for text color */
  }
  
  .nav-link:hover {
    color: #ffdd57; /* Change text color on hover */
  }
  